<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>ChiaKey</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>CKEY</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>ChiaKey</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chiakey</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.2.6</string>
	<key>ChiaKeyReleaseTag</key>
	<string>v1.2.6</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.seastudio.inputmethod.BearSpark.Hant</key>
			<dict>
				<key>TISIconIsTemplate</key>
				<true/>
				<key>TISInputSourceID</key>
				<string>com.seastudio.inputmethod.BearSpark.Hant</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>ChiaKeyMenuIcon.tiff</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
					<string>Hans</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>ChiaKeyMenuIcon.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>ChiaKeyMenuIcon.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.seastudio.inputmethod.BearSpark.Hant</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>com.seastudio.inputmethod.BearSpark_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>OpenVanillaController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>OpenVanillaController</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSContactsUsageDescription</key>
	<string>BearSpark reads names in your contacts so its Phrase Editor can add them to your phrase database.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 SEAStudio. Based on ChiaKey © 2026 Chiaki.C and Yahoo! KeyKey © 2012 Yahoo! Inc.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
	<key>TISIconIsTemplate</key>
	<true/>
	<key>TISIconLabels</key>
	<dict>
		<key>Primary</key>
		<string>千</string>
	</dict>
	<key>TISInputSourceID</key>
	<string>com.seastudio.inputmethod.BearSpark</string>
	<key>TISIntendedLanguage</key>
	<string>zh-Hant</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hant</string>
		<string>Hans</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>ChiaKeyMenuIcon.tiff</string>
</dict>
</plist>
